<div class="mainNav">
	
	<h2 id="logo">MakersBnB</h2>
	

	<% if (name) { %> 
		<p id="welcomeMessage">Welcome, <%= name %> </p>
	  <a id="signOutNav" href="/logout">Sign out</a>
	<% } else { %>
	  <a id="loginNav" href="/login">Login</a>
	<% } %>
	<a id="spacesNav" href="/properties">Spaces</a>
</div>