<div class="mainNav">
  LOGO
    <a href="../pages/index">Sign out</a>
    <a href="../pages/requests">Request</a>
    <a href="../pages/pages">Spaces</a>
    <a href="../pages/login">Login</a>
</div>