<div class="mainNav">
  LOGO
	<% if (name) { %> 
	  <a id="signOutNav" href="/logout">Sign out</a>
	  <a id="requestsNav" href="/requests">Request</a>
	<% } else { %>
	  <a id="loginNav" href="/login">Login</a>
	<% } %>
	<a id="spacesNav" href="/properties">Spaces</a>
</div>