<!DOCTYPE html>
<html>
<head></head>
<h1>MakersBnb</h1>

<h3>User</h3>

<form action="/login" method="get">
  <input id="login" type="submit" value="Login">
</form>
<form action="/register" method="get">
  <input id="register" type="submit" value="Register">
</form>

<h3>Welcome <%= @active %></h3>



</html>
