Login
<form action="/login" method="post">
  <input id="email" name="email" type="text">
  <input id="password" name="password" type="password">
  <input id="login" type="submit" value="Login">
</form>
