<% include ../partials/header.ejs %>
  
  <div id="welcomeWrapper">
    <h1 id="welcome">Welcome to MakersBnB</h1>

    <h2 class="sub-title">Sign-up</h2>

    <div id="signupWrapper">
      <form action="/register" method="post">
        <input id="name" type="text" name="name" value="name">
        <input id="email" type="email" name="email" value="email">
        <input id="password" type="password" name="password" value="password">
        <input id="submit" type="submit" name="Submit" value="submit">  
      </form>
    </div>

  </div>

  <% include ../partials/footer.ejs %>



