<% include ../partials/header.ejs %>
<% include ../partials/nav.ejs %>

  <% if (msg) { %>
   <p id="emailerror">Email already taken</p>
  <% } %>
  <div id="welcomeWrapper">
    <h1 id="welcome">MakersBnB</h1>

    <h2 class="sub-title">Sign-up</h2>

    <div id="signupWrapper">
      <form action="/register" method="post">
        <div id="innerForm">
          <label for="name">Name:</label>
          <input id="name" type="text" name="name" required>
          <label for="email">Email:</label>
          <input id="email" type="email" name="email" required>
          <label for="password">Password:</label>
          <input id="password" type="password" name="password" required>
        </div>
        <button id="submit" type="submit" name="Submit">Submit</button>
      </form>
    </div>

  </div>

  <% include ../partials/footer.ejs %>
