<% include ../partials/header.ejs %>
<% include ../partials/nav.ejs %>

<h3 class="sub-title">All Properties</h3>

<div id="propertyWrapper">

  
    <% properties.forEach(function(i) { %>
      <div class="card">
        <img src=" <%= i.dataValues.photo %> ">
        <h3> <%= i.dataValues.title %> </h3>
        <h4> <%= i.dataValues.description %> </h4>
        <p> £<%= i.dataValues.pricePerNight %> per night</p>
      </div>
    <% }) %>
  

</div>

<% include ../partials/footer.ejs %>