<% include ../partials/header.ejs %>
<% include ../partials/nav.ejs %>

<h3 class="sub-title-prop">All Properties</h3>

<% if (name) { %> 
  <div id="buttonContainer">
    <button id="newSpaceButton"><a id="newSpace" href="/add_property">Add a new property</a></button>
  </div>
<% } %>

<div id="propertyWrapper">

    <% properties.forEach(function(i) { %>
      <div class="card">
        <img src=" <%= i.dataValues.photo %> ">
        <div class="cardText">
          <h3 class="cardTitle"> <%= i.dataValues.title %> </h3>
          <p class="cardDesc"> <%= i.dataValues.description %> </p>
          <p class="price"> £<%= i.dataValues.pricePerNight %> per night</p>
      </div>
      </div>
    <% }) %>

</div>

<% include ../partials/footer.ejs %>
