<% include ../partials/header.ejs %>
<% include ../partials/nav.ejs %>

<h3 class="sub-title">All Properties</h3>

<div id="propertyWrapper">

  
    <% user.forEach(function(i) { %>
      <div class="card">
        <h4> <%= i.dataValues.name %> </h4>
        <h4> <%= i.dataValues.email %> </h4>
      </div>
    <% }) %>
  

</div>

<% include ../partials/footer.ejs %>